@font-face {
  font-family: comictans;
  src: url('../fonts/comictans/comictans.ttf');
}

@font-face {
  font-family: heycomic;
  src: url('../fonts/heycomic/heycomic.ttf');
}

@font-face {
  font-family: keepcheese;
  src: url('../fonts/keepcheese/keepcheese.ttf');
}
